.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.atropos {
	position: relative;
	width: 400px;
	height: 400px;
	position: relative;
	overflow: hidden; /* Para que el contenido no sobresalga */
}
.atropos:hover .background-img {
	opacity: 0.8; /* Muestra la imagen de fondo al pasar el mouse */
}

.atropos:hover p {
	z-index: 1; /* Muestra la imagen de fondo al pasar el mouse */
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Asegúrate de que esté detrás */
    transition: opacity 0.6s ease; /* Cambia 0.3s a 0.6s para hacerlo más lento */
    opacity: 0; /* Inicialmente oculto */
    border-radius: 15px; /* Opcional: bordes redondeados */
}

/* Pseudo-elemento para el degradado a negro */
.background-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Degradado a negro */
    border-radius: 15px; /* Asegúrate de que coincida con el radio de la imagen */
    z-index: 1; /* Asegúrate de que esté detrás de la imagen principal */
    pointer-events: none; /* Para que no interfiera con los eventos del mouse */
}

.main-img {
	transform: scaleX(-1) !important;
	position: relative;
	z-index: 2; /* Asegúrate de que esté delante */
	transition: opacity 0.6s ease; /* Transición suave */
}
.main-img:hover {
	animation: flip-in-diag-2-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.home-image {
	padding: 5% 2%; /* Usa porcentajes para el padding */
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho total */
}


@media (max-width: 768px) {
	.home-image {
		padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
		max-width: 90%; /* Permite que el contenedor ocupe más espacio en pantallas pequeñas */
	}
}

@media (max-width: 480px) {
	.home-image {
		padding: 0px; /* Ajusta aún más el padding para pantallas muy pequeñas */
		max-width: 100%; /* Permite que el contenedor ocupe casi todo el ancho */
	}
}

.title {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 130%;
		height: 130%;
		border-radius: 10px;
		backdrop-filter: blur(2px);
		z-index: -1;
	}
}
